<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key><string>com.agentdash.atlaswire.ingest</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/maxiaoer/.agentdash/bin/atlas-wire-ingest.sh</string>
  </array>
  <key>StartInterval</key><integer>1800</integer>
  <key>RunAtLoad</key><true/>
  <key>StandardOutPath</key><string>/Users/maxiaoer/.agentdash/logs/atlas-wire-ingest.log</string>
  <key>StandardErrorPath</key><string>/Users/maxiaoer/.agentdash/logs/atlas-wire-ingest.log</string>
</dict>
</plist>
